/* --- New CSS for flap+frog style website --- */

body {
    font-size:9px;
    font-family:Verdana,Osaka;
    scrollbar-arrow-color:#5f5f5f;
    scrollbar-base-color:#5f5f5f;
    scrollbar-darkshadow-color:#ffffff;
    scrollbar-face-color:#ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-track-color:#ffffff;
    scrollbar-shadow-color:#5f5f5f;
    color:#363d2d;
    background-image:url;
    background-position-x:top;
    background-position-y:left;
    background-repeat:no-repeat;
    background-color:#e1e8dc;
    margin-left:20px;
    line-height:15px;
    background-attachment:fixed;
}

td {
    font-size:9px;
    font-family:Verdana,Osaka;
    scrollbar-arrow-color:#5f5f5f;
    scrollbar-base-color:#5f5f5f;
    scrollbar-darkshadow-color:#ffffff;
    scrollbar-face-color:#ffffff;
    scrollbar-highlight-color: #ffffff;
    scrollbar-track-color:#ffffff;
    scrollbar-shadow-color:#5f5f5f;
    color:#363d2d;
    background-position-x:top;
    background-position-y:left;
    background-repeat:no-repeat;
    background-color:#ffffff;
    margin-left:21px;
    line-height:15px;
    background-attachment:fixed;
    vertical-align:top;
}

a {
 text-decoration:none;
    color:#d26c06;

}

a:hover {
    color:#3e362e;
    text-decoration:underline;
}

v {text-decoration:none;
    color:#3e3e3e;
}


#lyrmenu {
    position:;
    top:;
    left:;
    width:;
    height:;
    cursor:;
}

.f8 {
    font-size:8px;
}
.f10 {
    font-size:10px;
}
.f11 {
    font-size:11px;
}
.f12 {
    font-size:12px;
}
.f15 {
    font-size:15px;
}
.f20 {
    font-size:20px;
}


br {
    letter-spacing:normal;
}


 a {
    text-decoration:none;
    color:#f5970a;
}

 v{text-decoration:none;
    color:#3e3e3e;}


 a:hover {
    color:#095585;
    text-decoration:underline;
}

.fftop{
    position:absolute;
    top:30;
    left:10;
    width:280;
    height:150;
    font-size:9px;
}

 .b {
    border-left:1px solid #;
    border-right:1px solid #;
    background-color:#;
}

.days{
    color:#554d45;
    font-size:9px;
    letter-spacing:px;
    margin-left:64px;
    line-height:15px;
}