body { 
	background-image: url('../bg.gif');
	font-family: ‘Lucida Console’, Monaco, monospace;
}
/* --- Page header colors and stuff --- */
.header a, .header h1 {
	color: white;
	text-shadow: white 0.1em 0.1em 0.2em;
	display: inline;
    vertical-align: top;
    line-height: 28px;
}
.header p {
	color: #a028f7;
	text-shadow: purple 0.1em 0.1em 0.2em;
	display: inline;
    vertical-align: top;
    line-height: 28px;
    cursor: crosshair;
}
/* -------------------------- CSS for header links ------------------------- */
/* This makes it so there's no underline and the shadow expands when hovered */
.header a:link, .header a:active, .header a:visited {
	color: white;
	text-shadow: white 0.1em 0.1em 0.2em;
	text-decoration: none;
	cursor: crosshair;
}
.header a:hover {
	color: white;
	text-shadow: white 0.1em 0.1em 0.6em;
	text-decoration: none;
	cursor: crosshair;
}
/* --- Page content --- */
.content {
	text-shadow: purple 0.1em 0.1em 0.2em;
	color: #a028f7;
	font-size: 12px;
}
/* --------------- Page content links -------------- */
/* Same functions as the header links, but in purple */
.content a:link, .content a:active, .content a:visited {
	color: #c67efa;
	text-shadow: purple 0.1em 0.1em 0.2em;
	font-size: 12px;
	text-decoration: none;
	cursor: crosshair;
}
.content a:hover {
	color: white;
	text-shadow: purple 0.1em 0.1em 0.6em;
	text-decoration: none;
	cursor: crosshair;
}
/* --- Color classes --- */
.white {
	color: white;
	text-shadow: white 0.1em 0.1em 0.2em;
}
