table, th, td {
	border: 1px solid black;
}
td {
	text-align: center;
}
.header {
	text-align: center;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	text-align: right;
}
.left {
	text-align: left;
	width: 50%;
	float: left;
}
.right {
	text-align: right;
	width: 50%;
	float: right;
}