BODY{ font-family: arial, helvetica, verdana, sans-serif; font-size: 12px; color: #000000; margin: 8px; padding: 0px; background-color: #000000; }

.Header{ width:100%; }
.Header .Nav .TL{ background: #003366 url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-tl.gif') top left no-repeat; }
.Header .Nav .BR{ padding: 4px; }
.Header .Nav .Layout{ width: 100%; text-align: center; }
.Header .Nav .Cell{ color: #E6E6E6; font-weight: bold; white-space: nowrap; font-size: 11px; }
.Header .Nav .Cell A, .Header .Nav .Cell A:link, .Header .Nav .Cell A:hover, .Header .Nav .Cell A:active, .Header .Nav .Cell A:visited { color: #E6E6E6; text-decoration: none; }

.Header .Box{ width: 1px; margin: 0; text-align: center; white-space: nowrap; }
.Header .Box .TL{ background-color: #003366; }
.Header .Box .TR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-tr.gif') top right no-repeat; }
.Header .Box .BL{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-bl.gif') bottom left no-repeat; }
.Header .Box .BR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-br.gif') bottom right no-repeat; padding: 8px; }

.Header .Logo{}
.Header .Logo .TL{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/logo-tl.gif') top left no-repeat; }
.Header .Logo .TR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/logo-tr.gif') top right no-repeat; }
.Header .Logo .BL{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/logo-bl.gif') bottom left no-repeat; }
.Header .Logo .BR{ margin-left: 24px; padding: 8px; }

.TopButtonAd{}
.TopLeaderBoardAd{ padding-bottom: 8px; text-align: center; }
.BottomLeaderBoardAd{ padding-top: 8px; text-align: center; }
.BigBoxAd{ padding: 8px 8px 8px 0px; }
.ContentBoxAd{ padding: 8px 8px 8px 0px; }
.ContentRightAd{}

.Breadcrumbs{ margin-left: 4px; color: #E6E6E6; font-size: 12px; }
.Breadcrumbs A, .Breadcrumbs A:link, .Breadcrumbs A:hover, .Breadcrumbs A:active, .Breadcrumbs A:visited { color: #E6E6E6; }

.Body{ background-color: #003366; color: #E6E6E6; font-size: 12px; }
.Body .TR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-tr.gif') top right no-repeat; }
.Body .BL{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-bl.gif') bottom left no-repeat; }
.Body .BR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/outside-br.gif') bottom right no-repeat; padding: 8px 16px 8px 24px; }

.Block{ clear:both; color: #000000; margin-top: 8px; margin-right: 8px; }
.Block P{ margin: 0px; }
.BlockLeft{ float: left; color: #000000; margin-top: 8px; margin-right: 8px; }
.BlockLeft P{ margin: 0px; }
.BlockTransparent{ clear:both; color: #E6E6E6; margin-top: 8px; margin-right: 8px; }
.BlockSide{ width: 200px; color: #000000; margin-top: 8px; margin-right: 8px; }
.BlockSide P{ margin: 0px; }
.BlockTL{ background: #999999 url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tl.gif') top left no-repeat; }
.BlockTR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tr.gif') top right no-repeat; }
.BlockTR H1{ margin: 0px; padding: 4px; color: #333333; font-size: 150%; font-weight: bold; }
.BlockTR P{ margin-top: 0px; }
.BlockTR A, .BlockTR A:link, .BlockTR A:hover, .BlockTR A:active, .BlockTR A:visited { color: #cc0000; }
.BlockBL{ background: #E6E6E6 url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-bl.gif') bottom left no-repeat; }
.BlockBR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-br.gif') bottom right no-repeat; }

.TabSet{ margin-top: 8px; font-size: 150%; color: #000000; white-space: nowrap; }
.TabSet A, .TabSet A:link, .TabSet A:hover, .TabSet A:active, .TabSet A:visited { color: #cc0000; text-decoration: none; }
.TabOpen{ float: left; background: #E6E6E6 url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tl.gif') top left no-repeat; border-bottom: solid 1px #003366; border-right: solid 1px #003366; }
.TabOpenActive{ float: left; background: #E6E6E6 url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tl.gif') top left no-repeat; border-bottom: solid 1px #E6E6E6; border-right: solid 1px #003366; }
.TabClose{ float: left; background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tr.gif') top right no-repeat; padding: 4px; }

.TabBlock{ clear:both; color: #000000; margin-right: 8px; }
.TabBlock P{ margin: 0px; }
.TabBlockTL{ background-color: #E6E6E6; }
.TabBlockTR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-tr.gif') top right no-repeat; }
.TabBlockBL{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-bl.gif') bottom left no-repeat; }
.TabBlockBR{ background: url('/web/20141225122304im_/http://sonicspot.com/css/main/inside-br.gif') bottom right no-repeat; }

.Content{ padding: 4px 8px 0px 8px; }
.Content H1{ margin: 0px; padding: 4px 0px 0px 0px; font-size: 150%; font-weight: bold; }
.Content H2{ margin: 0px; padding: 4px 0px 0px 0px; font-size: 135%; font-weight: bold; }
.Content H3{ margin: 0px; padding: 4px 0px 0px 0px; font-size: 120%; font-weight: bold; }
.Content H4{ margin: 0px; padding: 4px 0px 0px 0px; font-size: 110%; font-weight: bold; }
.Content P{ padding: 2px 0px 6px 0px; }
.Content A, .Content A:link, .Content A:hover, .Content A:active, .Content A:visited { color: #cc0000; }

.Footer{ margin-top: 8px; text-align: center; font-size: 11px; }
.Footer P{ margin: 0px; text-align: center; font-size: 11px; }
.Footer A, .Footer A:link, .Footer A:hover, .Footer A:active, .Footer A:visited { color: #E6E6E6; }

.Date{ padding-top: 8px; font-weight: bold; }
.Item{ padding-top: 6px; }
.ItemTitle{ font-weight: bold; }
.ItemSummary{ font-size: 80%; }

.New,.New A, .New A:link,.New A:hover,.New A:active,.New A:visited{ color: #008800; text-decoration:none; }
.Update, .Update A, .Update A:link, .Update A:hover, .Update A:active, .Update A:visited{ color: #000088; text-decoration:none; }
.Review,.Review A,.Review A:link,.Review A:hover,.Review A:active,.Review A:visited{ color: #008800; text-decoration:none; }
.News, .News A, .News A:link, .News A:hover, .News A:active, .News A:visited{ color: #880088; text-decoration:none; }

.LinkMore{ margin: 8px 0 8px 0; text-align: right; }
.Screenshot{ padding: 4px; text-align: center; }

.Layout{ width: 100%; }
.Layout TD{ vertical-align: top; }

.CategoryTable{ width: 100%; }
.CategoryTable TD{ vertical-align: top; padding: 4px; }
.CategoryTable H1 { font-size: 125%; margin: 0; padding: 0 6px 2px 0px; }
.CategoryTable UL { margin: 0; padding: 0 4px 10px 0px; }
.CategoryTable UL LI { list-style-type: none; margin: 0; padding: 0; font-size: 85%; }

.SoftwareTable { margin: 0; padding: 10px 6px 0 6px; width: 100%; }
.SoftwareTable TH { font-weight: bold; margin: 0; padding: 3px; text-align: left; width: auto; }
.SoftwareTable TD { background-color: #c0c0c0; width: auto; padding: 3px; border-left: #E6E6E6 1px solid; border-bottom: #E6E6E6 1px solid; }
.SoftwareTable TD A, .SoftwareTable TD A:link, .SoftwareTable TD A:hover, .SoftwareTable TD A:active, .SoftwareTable TD A:visited { color: #cc0000; }

.IEFix{ font-size: 0px; }

/*
     FILE ARCHIVED ON 12:23:04 Dec 25, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:53:27 Jun 13, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/