<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://unpkg.com/terminal.css@0.6.6/dist/terminal.min.css" />
	<title>Tim Tepatti</title>
</head>
<body class="terminal">
	<div class="container">
		<div class="terminal-nav">
			<div class="terminal-logo">
			<div class="logo terminal-prompt"><a href="/" class="no-style">tepatti.com</a></div>
			</div>
			<nav class="terminal-menu">
			<ul>
				<li><a class="menu-item" href="/blog">Blog</a></li>
			</ul>
			</nav>
		</div>
		<main>
            <h1>Welcome to my website!</h1>
            <ul>
                {{#each this.query.data.pages}}
                    <li><a href="{{this.relativePath}}">{{this.frontmatter.title}}</a></li>
                {{/each}}
            </ul>
            <table align="center">
			<tr>
				<th rowspan="7">
					<img src="me.jpg" />
				</th>
				<th colspan="2">Stats</th>
			</tr>
			<tr>
				<th>Name</th>
				<td>Tim Tepatti</td>
			</tr>
			<tr>
				<th>Occupation</th>
				<td>Cyber Security Engineer</td>
			</tr>
			<tr>
				<th>Location</th>
				<td>Michigan</td>
			</tr>
			<tr>
				<th>Favorite Hobby</th>
				<td>Computers!</td>
			</tr>
			<tr>
				<th>Favorite OS</th>
				<td>GNU/Linux</td>
			</tr>
			<tr>
				<th>Fun Fact</th>
				<td>Check the source code :-)</td>
				<!-- Hello! I try to hide fun HTML comments on
					 all of my pages. See if you can find them all -->
			</tr>
			</table>
			{{{body}}}
		</main>
	</div>
</body>
</html>

