<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/assets/favicon.ico">
	<meta name="description" content="{{this.frontmatter.description}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/assets/terminal.min.css" />
	<style>
		img[title="bg"] {
			width: 10%;
		}
		img[src*="#left"] {
			width: 40%;
			float: left;
			margin: 15px 15px 15px 0px;
		}
		img[src*="#right"] {
			width: 40%;
			float: right;
			margin: 15px 0px 15px 15px;
		}
	</style>
	<title>{{this.title}}</title>
</head>
<body class="terminal">
	<div class="container">
		<div class="terminal-nav">
			<div class="terminal-logo">
			<div class="logo terminal-prompt"><a href="/" class="no-style">tepatti.com</a></div>
			</div>
			<nav class="terminal-menu">
			<ul>
				<li><a class="no-style" href="/blog">Back to Blog <</a></li>
			</ul>
			</nav>
		</div>
		<main>
			{{{body}}}
		</main>
	</div>
</body>
</html>